= page.link_button_primary 'Edit', url_helper.edit_resource(@model)
= page.link_button_danger 'Remove', url_helper.resource(@model), 'data-method' => :delete, 'data-confirm' => 'Are you sure?'
= page.link_button 'Cancel', url_helper.list_resource(@model.class)
